.home-main{
    display: flex;
    height: 100vh;
    /* margin-top: 13vh; */
}

.left-side-nav, .right-side-nav{
    padding-top: 2rem;;
    width: 25%;
    position: fixed;
    height: 100vh;
}

.left-side-nav{
    left:0;
    border-right: 1px solid var(--secondary-bg-color)
}

.right-side-nav{
    right:0;
    border-left: 1px solid var(--secondary-bg-color)
}

.home-main-section{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: auto;

    /* border-left: 2px solid var(--secondary-bg-color);
    border-right: 2px solid var(--secondary-bg-color); */

}

.post-container-box{
    margin: 1rem 0;
    border: 1px solid var(--secondary-btn-color);
    padding: 0.5rem;
    border-radius: 15px;
}

.sort-btn-active{
    background: var(--primary-btn-color);
    color: var(--primary-font-color);
}

.post-modal-container, .profile-modal-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.389);
    z-index: 3;
    text-align: center;
}

.post-modal{
    width: 700px;
    margin: auto;
    border: 2px solid black;
    background: var(--primary-bg-color);
    padding: 1rem;
    border-radius: 15px;
    position: absolute;
    top: 30%;
    left: 30%;

    & input{
        border-radius: 8px;
        padding: 0.7rem;
        display: block;
        width: 100%;
        margin: auto;
        height: 100px;
        margin: 1rem;
    }
}

.post-user-img{
    width: 50px;
    border-radius: 50%;
}

.post-user-data{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.left-side-nav{
    font-size: 20px;
    & li{
        margin: 0.7rem;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 7px;
    }
    & li:hover{
        border: 1px solid var(--secondary-btn-color);
    }
}

.right-side-nav{
    font-size: 18px;
    padding: 0.5rem;
}

.sortby-container{
    margin: 0.7rem;
}

.suggested-user-container{
    margin: 1rem;
 & li{
    list-style: none;
    margin: 0.3rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 0.3rem;
 }
 & button{
    margin: 0;
 }
}

.suggested-user-avatar{
    width: 40px;
    border-radius: 50%;
}

.sort-btn-inactive{
    background: none;
    color: white;
    border: 1px solid var(--secondary-bg-color);
}

.profile-modal{
    background: var(--primary-bg-color);
    width: 350px;
    margin: auto;
    margin-top: 5rem;
    border-radius: 10px;
    padding: 1rem;
}

.images-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.3rem;
    justify-content: space-around;

    & img{
        border-radius: 50%;
    }
}

.selected-img{
    border: 3px solid white;
    padding: 0.3rem;
}