.input-field{
    width: 100%;
    margin: 1em 0;
}

.input-field input{
    display: block;
    padding: 0.4em;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--primary-btn-color);
    font-size: 1.2rem;
    width: 100%;
    color: var(--primary-font-color);
}